*{
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    width: 100%;
    flex: 1 1 auto;
    height: 100px;
    background-color: gray;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}

.addbook{
    display: none;
}
.addbook.show{
    display: block;
}
.book{
    border:3px solid;
    min-width: 200px;
    flex: 0 1 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.library{
    border: solid 5px;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}